.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black;
    background-color: lightblue;
}

.display {
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    border: solid black;
}

.displayed {
    display: flex;
    justify-content: center;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    border: solid black;
}

.numbys {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    border: solid black;
}

.numbys button {
    padding: 5px;
    margin: 5px;
    width: calc(33.33% - 10px);
}

.calc {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    border: solid black;
}

.calc button {
    padding: 5px;
    margin: 5px;
    width: calc(100% - 10px);
}